<h1>Welcome</h1>

<p>
This is a sandbox application to test out new functionalities before adding them to a
client's site.
</p>

<p>
It's hosted on Heroku at: 
<%= link_to "mf-practice.herokuapp.com", "https://mf-practice.herokuapp.com/" %>
</p>

<h2>Contact form</h2>
<p>It creates a new Contact resource and sends an email to the site admin.</p>
<p><%= link_to "Contacts", contacts_path %></p>


