<h1>Welcome</h1>

<p>
This is a sandbox application to test out new functionalities before adding them to a
client's site.
</p>

<p>
It's hosted on Heroku at: 
<%= link_to "mf-practice.herokuapp.com", "https://mf-practice.herokuapp.com/" %>
</p>
